<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>/home/clarenz_m_tatierra/Downloads/UP SUBJECTS/Math 154/BLINKMATCH/BlinkMatchMemory/BlinkMatchMemory.jar</jar>
  <outfile>/home/clarenz_m_tatierra/Downloads/UP SUBJECTS/Math 154/BLINKMATCH/BlinkMatchMemory/BlinkMatchMemory.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>/home/clarenz_m_tatierra/Downloads/UP SUBJECTS/Math 154/BLINKMATCH/BlinkMatchMemory/resources/images/gameIcon.ico</icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>